h1 {
    color: #C25100;
    font-family: 'Lobster';
}

h2 {
    color: rgb(11, 91, 128);
    font-family: 'Lobster';
}

a {
    color: rgb(11, 91, 128);
}

body {
    padding-left: 15px;
    padding-right: 15px;
}

.page-header {
    background-color: rgb(28, 189, 175);
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    /* color: #141313; */
    color: #C25100;
    font-size: 40pt;
    text-decoration: none;
}

.content {
    margin-left: 24%;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: rgb(11, 91, 128);
    text-align: end;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 50px;
    width: 75%;
    margin-top: 10%;
}

.livre {
    margin-right: 4%;
    margin-top: 2%;
}

.texte {
    padding: 0;
    margin-top: 2%;
}

h2 {
    color: rgb(11, 91, 128);
}

.post h2 a,
.post h2 a:visited {
    color: rgb(11, 91, 128);
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: rgb(11, 91, 128);
    float: right;
    font-size: 18pt;
    margin-right: 35px;
}

.comment {
    margin: 20px 0px 20px 20px;
}

.container {
    width: 100%;
}

.comm {
    margin-top: 10%
}

.block {
    border-bottom: 1px dotted black;
}